.navbar {
    display: flex;
    padding: 12px 24px;
    justify-content: space-between;
    background-color: white;
    position: relative;
}

.titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleBox > * {
    display: block;
    margin: 0px 10px;
}

.title {
    font-size: 28px;
    font-weight: 500;
}

.verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePhoto {
    height: 35px;
    border-style: solid;
    border-width: 3px;
    border-color: #BC4749;
    border-radius: 50px;
}