
.commentInput {
    display: flex;
    justify-content: space-between;
    padding: 16px 12px;
  }
  
  .commentInput__text {
    flex: 1;
  }
  .commentInput__button {
    background-color: white;
    border: none;
    margin-left: 24px;
    color: black;
    font-weight: 500;
  }
  
  .commentInput__textarea {
    border: none;
    width: 100%;
    font-size: 14px;
    resize: none;
    margin: 8px 0px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  }
  
  .commentInput__textarea {
    border: none;
  }
  
  .commentInput__textarea:focus {
    outline: none;
  }